#quote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quote span {
  display: block;
  padding-top: 7px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(61, 95, 169) 1px 1px 5px;
}
#quote span:first-child {
  font-size: 1rem;
}
#quote span:last-child {
  font-size: 0.8rem;
  padding-bottom: 5px;
}
