/*👾해야 할 것*/
/*👾사이즈 줄어들 때, 컨테이너 사이즈가 겹치는 거 해결하기 -> 미디어쿼리적용하거나 아니면 컨테이너 합치기*/

/*reset css*/
@import url(reset.css);

/*google font*/

/*components*/
@import url(clock.css);
@import url(login-form.css);
@import url(todo-list.css);
@import url(quotes.css);
@import url(weather.css);
@import url(background.css);

.hidden {
  display: none !important;
}
button {
  box-sizing: border-box;
  color: rgb(52, 146, 209);
  /* font-weight: 600; */
  border: 2px;
  border: 3px solid rgb(255, 238, 80);
  background-color: rgb(255, 238, 80);
  border-radius: 3px;

  margin-left: 7px;
  transition: all 0.1s linear;
  padding: 3px;
}
button:hover {
  color: rgb(255, 238, 80);
  background-color: rgb(52, 146, 209);
  border-color: rgb(52, 146, 209);
}
body {
  /* font-family: "Baloo Tammudu 2", "Noto Sans KR", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
/*flex box에 margin collapse적용 불가능 고로 상하로 값을 주지 않고 아래만 줬습니다.*/
/*이슈: display flex 를 하니까 form에 hidden 클래스 적용이 안됨 why? 
-> .hidden CSS 에 !important 를 주니까 해결됨 우선순위를 높이면 되는 거 같네요*/
.main-cont > * {
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*메인 컨테이너에 적용한 효과
Frosted Glass Effect*/
/* .container {
  border-radius: 8px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
} */
.main-cont {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-height: 60%;
  padding: 20px;
  border-radius: 8px;
}
.main-cont__sub {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px;
  border-radius: 8px;
}
input[type='text'] {
  width: 200px;
  /* height: 30px; */
  font-size: 1em;
  border: 2px solid #ffffff;
  border-radius: 4px;
  outline: none; /*기본테두리안보이게*/
  padding: 3px 3px 3px 7px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type='text']:focus {
  border: 2px solid rgb(68, 171, 240);
  box-shadow: 0 0 8px 0 rgb(68, 171, 240);
  background-color: #ffffff;
}
