ul#todo-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: 250px;
  overflow: auto;
  /* list-style: url("../img/cat-42.svg"); */
}
ul#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aquamarine;
  text-shadow: goldenrod 1px 1px 5px;
  margin-bottom: 5px;
  font-weight: 500;
}
/* ul#todo-list li::marker {
  font-size: 30px;
} */
#todo-list li span {
  background-color: black;
  display: inline-block;
  box-sizing: border-box;
  padding: 2px 4px;
  border-radius: 3px;
}
ul#todo-list button {
  padding: 0;
  margin-left: 7px;
}
