#todo-form {
  display: flex;
  flex-direction: column;
}
#todo-form-title {
  margin-bottom: 10px;
  color: #0078d7;
  font-weight: 600;
}

ul#todo-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: 250px;
  overflow: auto;
  /* list-style: url("../img/cat-42.svg"); */
}
ul#todo-list li {
  /* body태그에 적용하는 google font를 list 에 적용 시 화면에서 어긋나서 변경*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(67, 67, 67);
  margin-bottom: 5px;
  border-radius: 5px;
  font-weight: 500;
}
/* ul#todo-list li::marker {
  font-size: 30px;
} */

/* 각각의 투두리스트에 그라데이션 효과 */
#todo-list li:nth-child(1) {
  background: rgba(255, 255, 255, 0.6);
}
#todo-list li:nth-child(2) {
  background: rgba(255, 255, 255, 0.4);
}
#todo-list li:nth-child(3) {
  background: rgba(255, 255, 255, 0.2);
}
#todo-list li:nth-child(4) {
  background: rgba(255, 255, 255, 0.1);
}

#todo-list li span {
  /* display: inline-block;
  box-sizing: border-box; */
  padding: 3px 4px;
}
ul#todo-list button {
  padding: 0 2px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
