a {
  text-decoration: none;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContentWrap {
  display: flex;
  justify-content: space-between;
  align-items: start;
  max-width: 1320px;
  padding: 10px;
  /* margin 대신 gap을 요소 사이 공간을 벌릴때 쓰는 게 좋다. */
  /* gap: 10px; */
}

.mainMenu {
  margin-right: 7px;
  width: 170px;
}
.mainMenu ul {
  margin: 0;
  width: 150px;
  background-color: orange;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 15px 7px;
  border-radius: 7px;
}
.mainMenu ul a {
  padding: 7px 10px;
  margin-bottom: 3px;
  color: white;
  font-weight: 500;
  transition: transform 0.2s ease-in-out;
}
.mainMenu__menu:hover {
  background-color: rgba(247, 152, 0, 1);
  border-radius: 10px;
  transform: translateX(10px);
}
.mainMenu__register-btn {
  width: 100%;
  color: white;
  border: 1px solid #fff;
  margin-top: 7px;
  display: block;
  background-color: black;
  padding: 7px 10px;
  text-align: left;
  transition: all 0.2s ease-in-out;
}
.mainMenu__register-btn:hover {
  color: #333;
  background-color: white;
  border: 1px solid black;
}
#arrow {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}
.mainMenu__register-btn:hover #arrow {
  transform: translateX(50px);
}
